$button-size: 3rem;


.accordion-trigger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.3rem;
    background-color: transparent;
    border: none;
}

.accordion-icon{
    background-color: rgba(0, 0, 0, 0.641);
    fill: var(--_icon-color);
    padding: 0.5rem;
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.accordion-panel:nth-child(1){
    --_icon-color: rgb(108, 212, 238);
}

.accordion-panel:nth-child(2){
    --_icon-color: rgb(212, 48, 48);
}

.accordion-panel:nth-child(3){
    --_icon-color: rgb(93, 234, 69);
}

.accordion-panel:nth-child(4){
    --_icon-color: rgb(194, 102, 212);
}

.accordion-panel:nth-child(5){
    --_icon-color: rgb(239, 137, 59);
}