@import "components";

$bg-color: rgba(0, 0, 0, 0.725);

$panel-padding: 0.5rem;

$animation-time: 500ms;
$animation-delay: 500ms;



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
    font-size: 1.2rem;
    background-color: $bg-color;
    color: azure;
    line-height: 1.3;
}

.wrapper {
    max-width: 60rem;
    margin-inline: auto;
    margin-top: 3rem;
    padding-inline: 1rem;

    img{
        max-width: 100%;
        display: block;
    }
     p , span{
        font-family: system-ui;
        color: azure;
     }
}

.accordion{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    contain: content;
}

.accordion-panel{
    position: relative;
    isolation: isolate;
    flex-basis: calc(($panel-padding * 2) + $icon-size);
    padding: $panel-padding;
    border-radius: calc((($panel-padding * 2) + $icon-size + $icon-padding));
    overflow: hidden;
    transition: all $animation-time;

    .title{
        font-size: 1.3rem;
        font-weight: 500;
        position: relative;

        display: grid;
        align-items: center;
    }
    
    @media (max-width: 850px){
        .title::after{
            content: " ";
            position: absolute;
            left: calc(($panel-padding + ($icon-size + ($icon-padding * 2))) * -1);
            height: calc(($icon-size + ($icon-padding * 2)));
            width: calc(100% + (($icon-size + $icon-padding) * 2));
            background-color: rgba(0, 0, 0, 0.497);
            border-radius: calc($icon-size + ($icon-padding * 2));
            z-index: -1;
        }
    }

    .accordion-img{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: filter $animation-time;
    }

    p { 
        margin-top: $panel-padding;
        margin-left: calc($icon-size + $trigger-gap + $icon-padding + $panel-padding);
        width: 85%;
        transform: translateY(5rem);
        opacity: 0;
        transition: all $animation-time $animation-delay;
    }

}

.accordion-panel:has([aria-expanded="true"]) {
    flex-basis: clamp(20rem, 35vh , 35rem);
    border-radius: calc((($panel-padding * 2) + $icon-size + $icon-padding) / 2);
    flex-grow: 1;
    p{
        transform: translateY(0rem);
        opacity: 1;
    }

    .accordion-img{
        filter:brightness(0.5);
    }
  }

@media(min-width: 851px){
    .accordion{
        flex-direction: row;
        height: 35rem;

        p { 
            transform: translateX(100% * 1.5);
            opacity: 0;
            transition: transform $animation-time $animation-delay, opacity $animation-time;
        }

        .accordion-panel:has([aria-expanded="true"]) {
            p{
                transform: translateX(0rem);
                opacity: 1;
            }
          }
        
    }
}
